@model  FacebookTimelinePost
@using bvResources = ProfSite.Resources.Resource

<li class="social-post" role="link">
    <div class="avatar-wrapper">
        <img class="avatar" src="@Model.Avatar/" alt="@Model.Name" />
    </div>
    <div class="post-content">
        <p class="person-name"><a target="_blank" href="https://www.facebook.com/profile.php?id=@Model.FromId">@Model.Name</a></p>
        <p class="message">
            @Html.Raw(Model.Message)
        </p>
        <div class="share-wrapper">
            @if (Model.Photos != null)
            {
                foreach (var photo in Model.Photos)
                {
                    <div class="photo">
                        @Html.Raw(photo)
                    </div>
                    <div class="caption">
                        @Model.Caption
                    </div>
                }
            }
            else
            {
                <a target="_blank" href="@Model.Link">@Model.Link</a>
            }


        </div>
        @Html.Partial("Comments", Model)
    </div>
    <div class="social-feed-icons">
        <a href="@Model.Id" class="btn-social fb-like-post" role="like" data-unliketext="@bvResources.Facebook_LinkUpdate_UnLikePost"><span>@bvResources.Facebook_LinkUpdate_LikePost</span></a>
        @*        <a href="#" class="btn-social" role="share"><span>Share This</span></a>*@
    </div>
</li>

