@model FacebookViewModel
@{
    ViewBag.Title = "Facebook";
    ViewBag.SelectedNode = "facebook";
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = true;
}

<div class="container">
    <div class="row simpleheaderrow">
        <h2>FACEBOOK</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs social-tabs facebook">
                <li role="presentation" class="active"><a href="#feed">NEWSFEED</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="feed">
                    <div id="facebook-feed" class="social-container withtabs facebook">
                        <h2>
                            <img src="~/Content/img/fb-icon-lg.png" />
                            @Model.FacebookName
                        </h2>
                        <div id="facebook" class="social-content">
                            @{Html.RenderPartial("Partials/_Timeline", Model.Timeline);}
                        </div>
                        <a class="btn btn-default" href="https://www.facebook.com/@Model.UserName" target="_blank">
                            VIEW FULL TIMELINE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 social-content-column">
            <div class="content-widget">
                @Html.Action("SocialContent", "BravoVetsWidgets")
            </div>
            <div class="content-widget">
                @Html.Action("BravectoContent", "BravovetsWidgets")
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/fileupload")
    @Scripts.Render("~/bundles/jquery-plugins")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav-tabs a').click(function (e) {
                e.preventDefault()
                $(this).tab('show')
            });
            $("#facebook").facebookTimeline({
                callback: function () {
                    $('#post-to-facebook').addClass('btn-default');
                }
            });

            $(".content-widget").find(".share").socialPostDialog({ "dialogType": "trendingtopics", "fileupload": false });

        });
    </script>
}