@model LoginViewModel
@{ Layout = null;}
@using bvResources = ProfSite.Resources.Resource

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@bvResources.BravoVets_Homepage_Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.png" />

    <!-- Typekit font is a close helvetica alternative. Replace with helvetica when available. -->
    <!--
    <script type="text/javascript" src="//use.typekit.net/nhs7hxx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/36b782c8-14a6-42ac-b9e8-820a1ab045fd.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        body {
            background: none;
            background-color: #FFF;
        }

        .btn:hover,
        .btn {
            background-color: #f28c00;
            color: #FFF;
        }

        .header {
            margin-bottom: 0;
        }

        .jumbotron {
            padding: 0;
            background: url(/Content/img/homepage.jpg) no-repeat center;
            background-size: cover;
            color: #FFF;
        }

            .jumbotron h1 {
                font-size: 48px;
                line-height: 1.3em;
            }

        .jumbo-home-overlay {
            background-color: rgba(0, 153, 148, 0.5);
            position: relative;
            top: 100px;
        }

            .jumbo-home-overlay .top-jumbo-overlay {
                padding: 20px 0;
                margin: 0;
            }

        .bottom-jumbo-overlay {
            border-top: 1px solid #fff;
            padding: 20px 0;
            margin: 25px 25px 0 25px;
        }

        .marketing-row {
            text-align: center;
            margin-top: 100px;
            margin-bottom: 50px;
        }

            .marketing-row p {
                font-size: 18px;
            }

            .marketing-row img {
                display: inline-block;
            }

            .marketing-row h2 {
                font-family: 28px;
            }

                .marketing-row h2.support {
                    color: #0098d8;
                }

                .marketing-row h2.innovation {
                    color: #512178;
                }

                .marketing-row h2.adherence {
                    color: #dd042b;
                }

        .full-container {
            text-align: center;
            color: #FFF;
            background-color: #009994;
            padding: 25px 0;
        }

            .full-container h2 {
                font-size: 36px;
            }

            .full-container p {
                font-size: 18px;
            }

        .video-wrapper {
            height: 600px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .static-section {
            background: url() no-repeat center;
            padding-top:10px;
            background-size: cover;
            color: #FFF;
            text-align: center;
            height:350px;
        }

            .static-section div.static-overlay {
                padding: 20px 0;
                margin-top:250px;
            }
            .static-section div.static-overlay.bgblue {
                background-color: rgba(0, 152, 216, 0.6);
            }
            .static-section div.static-overlay.bgpurple {
                background-color: rgba(81, 33, 120, 0.6);
            }
        .static-body {
            padding-top:30px;
            padding-bottom:20px;
            text-align:center;
        }
        .blue {
            color:#0098d8;
        }
        .orange {
            color:#f28c00;
        }
        .purple {
            color:#512178;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">ABOUT US</a></li>
                    <li role="presentation"><a href="#">CONTACT US</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bravecto</h3>
        </div>
        <div class="subheader">
            <div id="login-wrapper" style="display:none;">
                <div class="row">
                    @using (Html.BeginForm())
                    {
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label for="Email">@bvResources.Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-12">
                                <label for="Password">@bvResources.PasswordText</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block">@bvResources.BravoVets_Footer_Login</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="jumbo-home-overlay">
                <div class="row top-jumbo-overlay">
                    <div class="col-md-3">
                        <img src="http://placehold.it/200x150" />
                    </div>
                    <div class="col-md-9">
                        <h1>Extend a game plan for the world's longest-lasting, chewable flea and tick protection.</h1>
                    </div>
                </div>
                <div class="bottom-jumbo-overlay">
                    <h4>
                        Provide the best care available with an innovative flea and tick treatment that lasts up to 12 weeks - longer than any other
                        chew available. And let pet owners and their dogs enjoy more time closer together, doing the things they love.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row marketing-row">
            <div class="col-md-4">
                <img src="http://placehold.it/50x50" />
                <h2 class="support">
                    SUPPORT
                </h2>
                <p>Get access to exclusive tools and resources to help you connect with and educate your customers.</p>
                <p>
                    <a class="btn btn-default" href="#" role="button">
                        READ MORE
                        <i class="icon icon-arrow-right"></i>
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/50x50" />
                <h2 class="innovation">
                    INNOVATION
                </h2>
                <p>Learn about the breakthrough treatment that extends flea and tick protection up to 12 weeks.</p>
                <p>
                    <a class="btn btn-default" href="#" role="button">
                        READ MORE
                        <i class="icon icon-arrow-right"></i>
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <img src="http://placehold.it/50x50" />
                <h2 class="adherence">
                    ADHERENCE
                </h2>
                <p>Close adherence gaps with extended protection, so there are fewer chances for pet owners to forget.</p>
                <p>
                    <a class="btn btn-default" href="#" role="button">
                        READ MORE
                        <i class="icon icon-arrow-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="full-container green">
        <div class="container">
            <h2>Extend a faster-acting treatment</h2>
            <p>
                While other agents can take anywhere from 8 to 18 hours to kick in, now you can prescribe a treatment that starts working within 2 hours
                - and reaches 100% efficacy in just 24 hours.
            </p>
            <p>
                Learn more about this faster-acting, longer-lasting chewable treatment now.
            </p>
        </div>
    </div>
    <div class="video-wrapper">

    </div>
    <div class="static-section">
        <div class="container">
            <div class="static-overlay bgblue">
                <h2>SUPPORT</h2>
            </div>
        </div>
    </div>
    <div class="container static-body">
        <h2 class="blue">IMPROVE COMMUNICATION WITH CUSTOMERS AND ENHANCE YOUR PRACTICE.</h2>
        <p>
            Stay up to date with clinical research, expand your social media visibility, and create new and stronger customer
            relationships when you partner with us. <span class="orange">Contact your sales representative</span> today to learn
            how you can grow your relationship with new and existing customers or log in now.
        </p>
        <p>
            <a href="/account/login">
                LOG IN TO LEARN MORE
                <i class="icon icon-arrow-right"></i>
            </a>
        </p>
    </div>
    <div class="static-section">
        <div class="container">
            <div class="static-overlay bgpurple">
                <h2>INNOVATION</h2>
            </div>
        </div>
    </div>
    <div class="container static-body">
        <h2 class="purple">TAKE EFFICACY FURTHER THAN EVER BEFORE WITH THE LATEST INNOVATION IN TREATMENT</h2>
        <p>
            Now it's possible to effectively protect against fleas and ticks for a full 12 weeks with a single chew.
            That's about 3X longer than any other chew ever developed. <span class="orange">Contact your sales representative</span> today to learn
            more about this innovative alternative to monthly OTC treatments or log in now.
        </p>
        <p>
            <a href="/account/login">
                LOG IN TO LEARN MORE
                <i class="icon icon-arrow-right"></i>
            </a>
        </p>
    </div>
    <div class="static-section">
        <div class="container">
            <div class="static-overlay bgred">
                <h2>ADHERENCE</h2>
            </div>
        </div>
    </div>
</body>
</html>
