@model LinkedAccountsViewModel

@{
    ViewBag.Title = "Bravecto";
    ViewBag.IncludeSocialScript = true;
    Layout = "~/Views/Shared/_LayoutBravovets.cshtml";
    ViewBag.DisplaySubnavigation = false;
}
@section subheaderleft {
    <strong class="unlinked-subheaderleft">
        <a href="/editprofile">
            Link your social profiles for the full BravoVets experience.
        </a>
    </strong>
}
<div class="container">
    <div class="row simpleheaderrow">
        <h2>BRAVOVETS</h2>
    </div>
</div>
<div class="jumbotron unlinkedaccounts-page">
    <div class="container">
        <div class="jumbo-home-overlay">
            <div class="row top-jumbo-overlay">
                <h1>Extend your network with BravoVets</h1>
            </div>
            <div class="bottom-jumbo-overlay">
                <h4>
                    Link your Facebook and Twitter accounts to BravoVets for support in strengthening your ties
                    with new and existing customers through social media.
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container static-body unlinkedaccounts-body top">
    <div class="static-overlay bggreen">
        <p>
            Pet owners want the best for their dogs. With Bravecto, you can give it to them with the most
            advanced flea and tick protection available in a chew.
        </p>
        <p>
            And, with BravoVets, you can harness the power of social media to grow your visibility among pet
            owners. Link your Facebook and Twitter business accounts to BravoVets for support in strengthening
            your ties via the largest platforms available.
            <br />
            <a href="#">LEARN MORE ABOUT THE NEED FOR A SOCIAL PRESENCE</a>
        </p>
    </div>
</div>
<div class="static-body unlinkedaccounts-body leftaligned grey">
    <div class="container">
        <div class="row">
            <h2>EXPAND YOUR SOCIAL VISIBILITY</h2>
            <p class="text-center">Connect the Facebook and Twitter pages for your veterinary practice with curated social posts on BravoVets.</p>
        </div>
        <div class="row">
            <div class="col-md-8 link-youraccount-border">
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/Content/img/fb-icon-lg.png" />
                    </div>
                    <div class="col-md-10">
                        <p class="header">CONNECT WITH PET OWNERS</p>
                        <p>
                            The key to reaching pet owners in your community is to be present where they are.
                            Facebook, with its more than 1.25 billion members, makes that a high probability. Link your Facebook to share content that can help you grow relationships with your customers
                            by demonstrating your clinic's expertise, knowledge and caring on a personal level.
                            <a href="#facebooksection">LEARN HOW TO GET STARTED</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/Content/img/twitter-icon-lg.png" />
                    </div>
                    <div class="col-md-10">
                        <p class="header">LEAD THE DISCUSSION</p>
                        <p>
                            Twitter can be an excellent platform to establish yourself and your clinic as an
                            authority in leading-edge veterinary treatments. Link your Twitter
                            to build and reach an audience of followers - of both your customers and others around the world
                            - with the latest news and trends relevant to animal health.
                            <a href="#twittersection">LEARN HOW TO GET STARTED</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img src="~/Content/img/Bravecto_HP_UnlinkedAccounts_img.jpg" />
                    </div>
                    <div class="col-md-10">
                        <p class="header">UPDATE YOUR PROFILE</p>
                        <p>
                            <a href="/editprofile">Update your profile</a> and allow Facebook and Twitter to link
                            your business pages with previous social information on BravoVets. None of the content
                            of your personal accounts will be seen by fans/followers of your business pages.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 link-youraccount">
                <h3>LINK YOUR SOCIAL<br /> ACCOUNTS HERE</h3>
                <a class="btn btn-default link-socialaccount" href="#" data-type="facebook" data-islinked="@Model.IsFacebookLinked.ToString().ToLowerInvariant()">
                    @if (Model.IsFacebookLinked)
                    {
                        <text>@Resource.UnlinkYourFacebook</text>
                    }
                    else
                    {
                        <text>@Resource.LinkYourFacebook</text>
                    }
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
                <a class="btn btn-default link-socialaccount" href="#" data-type="twitter" data-islinked="@Model.IsTwitterLinked.ToString().ToLowerInvariant()">
                    @if (Model.IsTwitterLinked)
                    {
                        <text>@Resource.UnlinkYourTwitter</text>
                    }
                    else
                    {
                        <text>@Resource.LinkYourTwitter</text>
                    }
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container static-body unlinkedaccounts-body">
    <div class="row">
        <h2>
            EXTEND THE FAST-ACTING, LONGEST-LASTING<br />
            FLEA AND TICK PROTECTION IN A CHEW.
        </h2>
        <p>
            You strive to provide the best protection to all of the dogs you treat. And, with the first and only chewable flea and tick protection that lasts up to 12 weeks, you can. <a href="/innovation">Bravecto is a breakthrough in flea and tick protection</a> that starts working in just 2 hours – and keeps working up to 3X longer than any other monthly chewable or topical available. <a href="/adherence">Close the gaps in between protection</a> by giving pet owners fewer chances to forget – and help keep dogs healthier, longer. Plus, when you prescribe Bravecto,
            <a href="support">MSD</a> support every step of the way, with informational resources, marketing toolkits and social media tools, so you can be confident in your decision.
            <br /><a href="/products">LEARN MORE ABOUT BRAVECTO PRODUCTS ></a>
        </p>
        <h2>
            EXTEND RELATIONSHIPS WITH PET OWNERS<br />
            BEYOND THE OFFICE TO KEEP THEM COMING BACK.
        </h2>
        <p>
            The importance of being visible online cannot be overstated. It is the single most powerful tool in your arsenal for building engagement with pet owners – and ensuring their involvement with the treatments you recommend. That’s because pet owners actively use the internet to connect with like-minded animal lovers and to find useful information about pet health and wellness. Social media provides the opportunity
            to connect with the 70%<sup>1</sup> of pet owners that search pet-related topics online every week, wherever they are.
            <br />
            <br />
            When you use BravoVets, you gain an exclusive, easy-to-use social tool that consolidates your engagements with customers, pet owners and followers on Facebook and Twitter into one platform. And, it provides you with curated content ready to share with your followers. So you can easily reach, connect, and create deeper relationships with pet owners – ultimately driving more awareness for, and loyalty to, your business.
        </p>
    </div>
</div>
<div class="static-section linkedaccounttop">
    <div class="container">
        <div class="static-overlay bggreen">
            <h2>EXTEND YOUR CONNECTION TO PET-OWNERS <br />IN YOUR COMMUNITY WITH FACEBOOK</h2>
        </div>
    </div>
</div>
<div id="facebooksection" class="container static-body">
    <h2 class="green linkedaccountmainheader">CREATING A PRESENCE ON FACEBOOK REQUIRES SOME UP-FRONT STRATEGY AND SETUP.</h2>
    <p>
        If you already have a Facebook account for your veterinary practice,
        <a href="#" data-type="facebook" data-islinked="@Model.IsFacebookLinked.ToString().ToLowerInvariant()">
            @if (Model.IsFacebookLinked)
            {
                <text>@Resource.UnlinkYourFacebook</text>
            }
            else
            {
                <text>link it now</text>
            }
        </a>
    </p>
    <div class="text-center">
        <img src="~/Content/img/fb-icon-lg.png" />
    </div>
    <div class="row facebook-details-row">
        <div class="col-md-4">
            <p>
                To create your business page, first log in to your personal
                Facebook account (if you don’t have an account, <a href="/newbusiness">sign up now</a>.)
                Don’t worry – this doesn’t mean that fans of your clinic will see any of the personal details or content in your profile.
                Then click the small "down arrow" icon on the far right of the page, near your name,
                and choose "Create a page".
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        <span class="header">Choose your classification</span>
                        Select "Local business of place". This will help your business come up in relevant
                        searches. Next, choose the category your business falls into and enter your business's name.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        <span class="header">Complete 'Basic information'</span>
                        Select a high-resoulution image of your company's logo to set as your profile picture
                        and a larger image for your "cover" photo. Complete the "About" section by adding a short summary
                        (2 – 3 sentences) about your business with a link to your website.
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        <span class="header">Request a customized Facebook address</span>
                        Request an address like Facebook.com/yourcompanyname, making it easy to include within other marketing
                        materials and channels.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row simpleheaderrow">
        <h3>Now you're ready to connect your page to BravoVets!</h3>
        <p>
            <a class="btn btn-default link-socialaccount" href="#" data-type="facebook" data-islinked="@Model.IsFacebookLinked.ToString().ToLowerInvariant()">
                @if (Model.IsFacebookLinked)
                {
                    <text>@Resource.UnlinkYourFacebook</text>
                }
                else
                {
                    <text>@Resource.LinkYourFacebook ACCOUNT</text>
                }
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
        </p>
    </div>
</div>
<div id="twittersection" class="static-section unlinkedaccountbottom">
    <div class="container">
        <div class="static-overlay bggreen">
            <h2>EXTEND YOUR AUTHORITY IN LEADING-EDGE <br />VETERINARY TREATMENTS ON TWITTER</h2>
        </div>
    </div>
</div>
<div class="container static-body">
    <h2 class="green linkedaccountmainheader">START YOUR JOURNEY TO A BIGGER FOLLOWING WITH A FEW SIMPLE STEPS.</h2>
    <p>
        If you already have a Twitter account for your veterinary practice,
        <a href="#" data-type="twitter" data-islinked="@Model.IsTwitterLinked.ToString().ToLowerInvariant()">
            @if (Model.IsTwitterLinked)
            {
                <text>@Resource.UnlinkYourTwitter</text>
            }
            else
            {
                <text>link it now</text>
            }
        </a>
    </p>
    <div class="text-center">
        <img src="~/Content/img/twitter-icon-lg.png" />
        <h3>Creating a Twitter account for your business is quick and easy.</h3>
    </div>
    <div class="row twitter-details-row">
        <div class="col-md-4">
            <p>
                First, use the email address of the person who will be managing your Twitter account to set it up, then:
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        Enter the full name of your business, as you'd like it to appear on your profile.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        Enter the username (also known as a handle) you wish to be referred to as.
                        <br />This is the name other Twitter followers will use to interact with you.
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        Create a unique, secure password.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row twitter-details-row last">
        <div class="col-md-4">
            <p>
                Next, it's time to personalize the account for your clinic. To do so, click "Profile" and complete
                the following steps:
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        Select a high-resolution image of your clinic’s logo to set as your photo. This image will appear next to all of your tweets.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        Complete your profile by entering your clinic name, location, a link to your website and a short (160 characters or less) summary of your business or philosophy.
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        If you'd like, you can customize the background to reflect your practice's personality
                        under the "Design" tab.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row simpleheaderrow">
        <h3>Now you're ready to connect your Twitter account to BravoVets!</h3>
        <p>
            <a class="btn btn-default link-socialaccount" href="#" data-type="twitter" data-islinked="@Model.IsTwitterLinked.ToString().ToLowerInvariant()">
                @if (Model.IsTwitterLinked)
                {
                    <text>@Resource.UnlinkYourTwitter</text>
                }
                else
                {
                    <text>@Resource.LinkYourTwitter ACCOUNT</text>
                }
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>
            * BRAVECTO is effective against <span class="italic">Rhipicephalus sanguineus</span> (brown dog tick) for 8 weeks after dosing.
            The most common adverse reactions were mild and short-lived vomiting, decreased appetite, diarrhea and drooling. For complete safety information, refer to product label.
        </p>
        <p>
            1 Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.
        </p>
    </div>
</div>