@model  SyndicatedContentWidgetModel
@using bvResources = ProfSite.Resources.Resource

<h3>@bvResources.ResourceManager.GetString(Model.Title)</h3>
@foreach (var item in Model.Contents)
{
    <div class="item">
        <h4>@item.Title</h4>
        @if (!string.IsNullOrEmpty(item.ImageUrl))
        {
            <img src="@item.ImageUrl" alt="@item.ImageName" />
        }
        <p>@Html.Raw(item.ContentText)</p>
        @if (item.SyndicatedLinks != null && item.SyndicatedLinks.Count > 0)
        {
            <div class="attachment-wrapper">
                <h5>@bvResources.BravoVets_Attachments</h5>
                <hr class="diagonal diagonal2">
                <ul>
                    @foreach (var syndicatedLink in item.SyndicatedLinks)
                    {
                        @Html.Partial("~/Views/BravoVets/SyndicatedContentLink.cshtml", syndicatedLink)
                    }
                </ul>
            </div>
        }
        @Html.Partial("SyndicatedContentShareLink", new SyndicatedShareLinkModel { SyndicatedContentId = item.Id, EnableShare = true, ShowShare = Model.ShowShare })

    </div>
}
