@using bvResources = ProfSite.Resources.Resource
<!--[if lt IE 10]>
<p class="browsehappy">@bvResources.Shared_HappyBrowser_YouUsing <strong>@bvResources.Shared_HappyBrowser_outdated</strong> @bvResources.Shared_HappyBrowser_browser. @bvResources.Shared_HappyBrowser_Please <a href="http://browsehappy.com/">@bvResources.Shared_HappyBrowser_UpgradeBrowser</a> @bvResources.Shared_HappyBrowser_ImproveExperience.</p>
<![endif]-->
