@using bvResources = ProfSite.Resources.Resource
@{ var menu = (BravectoMenu)ViewBag.Menu;}

@{ Layout = "~/Views/Shared/" + menu.Layout + ".cshtml"; }

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="alternate">@bvResources.Shared_SiteMap_SiteMap</h1>
            <hr class="plus diagonal">
            <br>
            <ul class="sitemap">
                <li class="has-children">
                    <a href="/bravecto">@bvResources.Shared_SiteMap_BravectoHome</a>
                    <ul class="sitemap">
                        <li><a href="/bravecto/innovation">@bvResources.BravectoInnovation</a></li>
                        <li><a href="/bravecto/compliance">@bvResources.BravectoCompliance</a></li>
                        <li><a href="/bravecto/newbusiness">@bvResources.BravectoNewBusiness</a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a href="/dashboard">@bvResources.Shared_SiteMap_BravoVets</a>
                    <ul class="sitemap">
                        <li><a href="/resourcetopics">@bvResources.Shared_SiteMap_BravectoResources</a></li>
                        <li><a href="/trendingtopics">@bvResources.Shared_SiteMap_TrendingTopics</a></li>
                        <li><a href="/socialtips">@bvResources.Shared_SiteMap_SocialTips</a></li>
                        <li><a href="/EditProfileAndFacility">@bvResources.Shared_SiteMap_EditProfile</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>