@model LoginViewModel
@{ Layout = null;}
@using bvResources = ProfSite.Resources.Resource

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@bvResources.Bravecto_Homepage_Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="images/favicon.png" />

    <!-- Typekit font is a close helvetica alternative. Replace with helvetica when available. -->
    <!--
    <script type="text/javascript" src="//use.typekit.net/nhs7hxx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/36b782c8-14a6-42ac-b9e8-820a1ab045fd.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bravectohome.css" rel="stylesheet" />
</head>
<body>
    <div id="side-nav">
        <ul class="nav list-unstyled">
            <li class="active">
                <a href="#home">&nbsp;</a>
            </li>
            <li class="">
                <a href="#support">&nbsp;</a>
            </li>
            <li class="">
                <a href="#innovation">&nbsp;</a>
            </li>
            <li class="adherence">
                <a href="#adherence">&nbsp;</a>
            </li>
        </ul>
    </div>
    <div class="circles-header"></div>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul id="top-nav" class="nav nav-pills">
                    <li role="presentation"><a href="/bravecto/about-us">ABOUT US</a></li>
                    <li role="presentation"><a href="#">CONTACT US</a></li>
                </ul>
            </nav>
            <a href="/bravecto" class="navbar-brand bravovets">
                <img src="/images/logo-bravecto@2x.png" alt="Bravecto Logo" class="logo-bravecto">
            </a>
        </div>
    </div>
    <div id="subheader">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <span class="green">LOGIN TO SHARE THIS POST ON<br /> YOUR TWITTER OR FACEBOOK</span>
                </div>
                <div class="col-sm-5">
                    Flying through flea and tick treatments too fast? Find out how you can extend protection to 12 full weeks.
                </div>
                <div class="col-sm-2 social-media-col">
                    <ul class="list-unstyled social-media-list">
                        <li>
                            <a href="https://www.facebook.com/bravovets" target="_blank">
                                <img src="~/Content/img/FB-icon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/bravovets" target="_blank">
                                <img src="~/Content/img/twitter-icon.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        VET LOGIN
                    </a>
                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                        <li>
                            <div id="login-wrapper">
                                <div class="row">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="Email">@bvResources.Email</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = bvResources.Email })
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="Password">@bvResources.PasswordText</label>
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = bvResources.PasswordText })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-default">@bvResources.BravoVets_Footer_Login</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="home">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbo-home-overlay">
                    <div class="row top-jumbo-overlay">
                        <div class="col-md-3">
                            <div id="tweleveweeks_container">
                                <ul style="list-style:none;"></ul>
                            </div>
                            <h3 class="weeks">WEEKS</h3>
                        </div>
                        <div class="col-md-9">
                            <h1>Extend a game plan for the world's longest-lasting, chewable flea and tick protection.</h1>
                        </div>
                    </div>
                    <div class="bottom-jumbo-overlay">
                        <h4>
                            Provide the best care available with an innovative flea and tick treatment that lasts up to 12 weeks - longer than any other
                            chew available. And let pet owners and their dogs enjoy more time closer together, doing the things they love.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row marketing-row">
                <div class="col-md-4">
                    <img src="~/Content/img/support-icon.jpg" />
                    <h2 class="support">
                        SUPPORT
                    </h2>
                    <p>Get access to exclusive tools and resources to help you connect with and educate your customers.</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">
                            READ MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/innovation-icon.jpg" />
                    <h2 class="innovation">
                        INNOVATION
                    </h2>
                    <p>Learn about the breakthrough treatment that extends flea and tick protection up to 12 weeks.</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">
                            READ MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/adherence-icon.jpg" />
                    <h2 class="adherence">
                        ADHERENCE
                    </h2>
                    <p>Close adherence gaps with extended protection, so there are fewer chances for pet owners to forget.</p>
                    <p>
                        <a class="btn btn-default" href="#" role="button">
                            READ MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="full-container green">
            <div class="container">
                <h2>Extend a faster-acting treatment</h2>
                <p>
                    While other agents can take anywhere from 8 to 18 hours to kick in, now you can prescribe a treatment that starts working within 2 hours
                    - and reaches 100% efficacy in just 24 hours.
                </p>
                <p>
                    Learn more about this faster-acting, longer-lasting chewable treatment now.
                </p>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <a class="btn btn-default" href="#" role="button">
                            SCHEDULE A MEETING
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-default" href="#" role="button">
                            REGISTER NOW
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="support">
        <div class="video-wrapper"></div>
        <div class="static-section support">
            <div class="container">
                <div class="static-overlay bgblue">
                    <h2>SUPPORT</h2>
                </div>
            </div>
        </div>
    </div>
    <div id="innovation">
        <div class="container static-body">
            <h2 class="blue">IMPROVE COMMUNICATION WITH CUSTOMERS AND ENHANCE YOUR PRACTICE.</h2>
            <p>
                Stay up to date with clinical research, expand your social media visibility, and create new and stronger customer
                relationships when you partner with us. <span class="orange">Contact your sales representative</span> today to learn
                how you can grow your relationship with new and existing customers or log in now.
            </p>
            <p>
                <a href="/account/login">
                    LOG IN TO LEARN MORE
                    <i class="icon icon-arrow-right"></i>
                </a>
            </p>
        </div>
        <div class="static-section innovation">
            <div class="container">
                <div class="static-overlay bgpurple">
                    <h2>INNOVATION</h2>
                </div>
            </div>
        </div>

        <div class="container static-body">
            <h2 class="purple">TAKE EFFICACY FURTHER THAN EVER BEFORE WITH THE LATEST INNOVATION IN TREATMENT</h2>
            <p>
                Now it's possible to effectively protect against fleas and ticks for a full 12 weeks with a single chew.
                That's about 3X longer than any other chew ever developed. <span class="orange">Contact your sales representative</span> today to learn
                more about this innovative alternative to monthly OTC treatments or log in now.
            </p>
            <p>
                <a href="/account/login">
                    LOG IN TO LEARN MORE
                    <i class="icon icon-arrow-right"></i>
                </a>
            </p>
        </div>
    </div>
    <div id="adherence">
        <div class="static-section adherence">
            <div class="container">
                <div class="static-overlay bgred">
                    <h2>ADHERENCE</h2>
                </div>
            </div>
        </div>
        <div class="container static-body">
            <h2 class="red">PREVENT GAPS IN COMPLIANCE WITH FEWER TREATMENTS TO FORGET</h2>
            <p>
                The average dog is treated for fleas and ticks only 2.8 months out of the year. Help improve compliance by giving
                pet owners fewer chances to forget with a treatment that lasts 12 full weeks. <span class="orange">Contact your sales representative</span> today to learn
                today to learn more about preventing gaps in protection for every dog you treat or log in now.
            </p>
            <p>
                <a href="/account/login">
                    LOG IN TO LEARN MORE
                    <i class="icon icon-arrow-right"></i>
                </a>
            </p>
        </div>
    </div>
    <footer>
        <div class="container">
            <ul class="bottom-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="http://www.merck.com/about/how-we-operate/privacy/internet-privacy-policy.html?utm_source=Bravovets">PRIVACY</a>
                </li>
                <li>
                    <a href="http://www.bravovets.com/termsandconditions">TERMS + CONDITIONS</a>
                </li>
                <li>
                    <a href="/bravecto/sitemap">SITE MAP</a>
                </li>
                <li>
                    <a href="/">CONTACT US</a>
                </li>
            </ul>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();

            $('.dropdown-menu input, .dropdown-menu label, .dropdown-menu button, #login-wrapper').click(function (e) {
                e.stopPropagation();
            });
            $('body').scrollspy({ target: '#side-nav' });

            var imagePATH = "/Content/img/"

            var clockImgArr = [];
            var clockImgPNGArr = [];
            var clockArr = [];
            var clockCount = 0;

            //images and li class names
            clockImgArr[0] = 'clock_anim_00';
            clockImgArr[1] = 'clock_anim_01';
            clockImgArr[2] = 'clock_anim_02';
            clockImgArr[3] = 'clock_anim_03';
            clockImgArr[4] = 'clock_anim_04';
            clockImgArr[5] = 'clock_anim_05';
            clockImgArr[6] = 'clock_anim_06';
            clockImgArr[7] = 'clock_anim_07';
            clockImgArr[8] = 'clock_anim_08';
            clockImgArr[9] = 'clock_anim_09';
            clockImgArr[10] = 'clock_anim_10';
            clockImgArr[11] = 'clock_anim_11';
            clockImgArr[12] = 'clock_anim_12';
            clockImgArr[13] = 'clock_anim_blur01';
            clockImgArr[14] = 'clock_anim_blur10';
            clockImgArr[15] = 'clock_anim_blur11';


            //make names into images links
            $.each(clockImgArr,function(key,val){
                clockImgPNGArr[key] = imagePATH+val+'.png';
            })

            //load the first image
            $('#tweleveweeks_container ul').append('<li class="'+clockImgArr[0]+' clockface" style="display:block"><img src="'+clockImgPNGArr[0]+'" ></li>');

            //create animation order array
            var n = 0;
            for(var i=0;i<25;i++){
                if(i%2 == 0){
                    clockArr[i] = clockImgArr[n];
                    n++;
                }else if(i < 19 && i%2 != 0){
                    clockArr[i] = clockImgArr[13];
                }else if(i== 19){
                    clockArr[i] = clockImgArr[15];
                }else if(i > 19 && i%2 != 0){
                    clockArr[i] = clockImgArr[14];
                }
            }

            function preloadImages(images, callback) {
                var count = images.length;
                if(count === 0) {
                    callback();
                }
                var loaded = 0;
                $(images).each(function() {
                    $('<img>').attr('src', this).load(function() {
                        loaded++;
                        if (loaded === count) {
                            callback();
                        }
                    });
                });
            };
            preloadImages(clockImgPNGArr, function() {
                console.log("Load them bitches");
                aferLoaded()
            });


            function aferLoaded(){
                $.each(clockImgArr,function(key,val){
                    if(key > 0){
                        $('#tweleveweeks_container ul').append('<li class="'+val+' clockface" style="display:none"><img src="'+clockImgPNGArr[key]+'" ></li>');
                    }

                })
                $('#tweleveweeks_container img').ready(function(){
                    setTimeout(function(){
                        var clockAnim = setInterval(function(){
                            $('.clockface').hide();
                            $('.'+clockArr[clockCount]).show();
                            if(clockCount >= clockArr.length-1){
                                clearInterval(clockAnim);
                            }
                            clockCount++;
                        },40);
                    },1000)
                })
            }
        });
    </script>
</body>
</html>
