@model LoginViewModel
@{ Layout = null;}
@using bvResources = ProfSite.Resources.Resource

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@bvResources.Bravecto_Homepage_Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="~/Images/favicon.png" />

    <!-- Typekit font is a close helvetica alternative. Replace with helvetica when available. -->
    <!--
    <script type="text/javascript" src="//use.typekit.net/nhs7hxx.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    -->
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/36b782c8-14a6-42ac-b9e8-820a1ab045fd.css" />
    @Styles.Render("~/Content/css", "~/Content/bravectocss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="side-nav">
        <ul class="nav list-unstyled">
            <li class="active">
                <a href="#home">&nbsp;</a>
            </li>
            <li class="">
                <a href="#support">&nbsp;</a>
            </li>
            <li class="">
                <a href="#innovation">&nbsp;</a>
            </li>
            <li class="adherence">
                <a href="#adherence">&nbsp;</a>
            </li>
        </ul>
    </div>
    <div class="circles-header"></div>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul id="top-nav" class="nav nav-pills">
                    <li role="presentation"><a href="/about-us">ABOUT US</a></li>
                    <li role="presentation"><a href="/contact-us">CONTACT US</a></li>
                </ul>
            </nav>
            <a href="/bravecto" class="navbar-brand bravovets">
                <img src="/images/logo-bravecto@2x.png" alt="Bravecto Logo" class="logo-bravecto">
            </a>
        </div>
    </div>
    <div id="subheader" class="withpadding">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <span class="green">LOGIN TO SHARE THIS POST ON<br /> YOUR TWITTER OR FACEBOOK</span>
                </div>
                <div class="col-sm-5">
                    Flying through flea and tick treatments too fast? Find out how you can extend protection to 12 full weeks.
                </div>
                <div class="col-sm-2 social-media-col">
                    <ul class="list-unstyled social-media-list">
                        <li>
                            <a href="https://www.facebook.com/bravovets" target="_blank">
                                <img src="~/Content/img/FB-icon.png" />
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/bravovets" target="_blank">
                                <img src="~/Content/img/twitter-icon.png" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                        VET LOGIN
                    </a>
                    <ul id="login-menu" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                        <li>
                            <div id="login-wrapper">
                                <div class="row">
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="Email">@bvResources.Email</label>
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = bvResources.Email })
                                            </div>
                                            <div class="col-sm-12">
                                                <label for="Password">@bvResources.PasswordText</label>
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = bvResources.PasswordText })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-default">@bvResources.BravoVets_Footer_Login</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="home">
        <div class="jumbotron">
            <div class="container">
                <div class="jumbo-home-overlay clock-outer-container">
                    <div class="row top-jumbo-overlay">
                        <div class="col-md-3 col-xs-3 clock-wrapper">
                            <div id="tweleveweeks_container">
                                <ul style="list-style:none;"></ul>
                            </div>
                            <h3 class="weeks">WEEKS</h3>
                        </div>
                        <div class="col-md-10 col-xs-10">
                            <h1>Extend a game plan for longer-lasting protection.</h1>
                        </div>
                    </div>
                    <div class="bottom-jumbo-overlay bravecto">
                        <h4>
                            Offer Bravecto and provide the best care without compromising efficacy, safety or convenience. Now you can prescribe the innovative flea and tick treatment that lasts up to 12 weeks* – longer than any other chewable or monthly topical available. And, let pet owners and their dogs enjoy more time closer together, doing the things they love.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row marketing-row">
                <div class="col-md-4">
                    <img src="~/Content/img/support-icon.jpg" />
                    <h2 class="support">
                        SUPPORT
                    </h2>
                    <p>Enhance communications in person and online with new and existing customers to provide the best care to the dogs in your community.</p>
                    <p>
                        <a class="btn btn-default login-link" href="" role="button">
                            LEARN MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/innovation-icon.jpg" />
                    <h2 class="innovation">
                        INNOVATION
                    </h2>
                    <p>Offer a treatment pet owners can’t get anywhere else and establish your business as a go-to source for leading-edge treatments with Bravecto. </p>
                    <p>
                        <a class="btn btn-default login-link" href="" role="button">
                            LEARN MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/img/adherence-icon.jpg" />
                    <h2 class="adherence">
                        ADHERENCE
                    </h2>
                    <p>Give pet owners fewer chances to forget with the chewable treatment that lasts up to 12 weeks – so the dogs you treat are protected for longer.</p>
                    <p>
                        <a class="btn btn-default login-link" href="" role="button">
                            LEARN MORE
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="full-container green">
            <div class="container">
                <h2>Extend flea and tick protection up to 12 weeks in a single chew. </h2>
                <p>
                    With Bravecto, you can prescribe a treatment that works faster and lasts longer than any other chewable
                    or monthly topical available. Working quickly, Bravecto begins killing in just 2 hours –
                    and maintains its efficacy against both fleas and ticks for up to a full 12 weeks*.
                    Plus, it’s been clinically proven safe for pregnant, lactating and breeding dogs, as well as “Ivermectin-sensitive” dogs  –
                    so you can extend the best care to every dog you treat and give them more time with their families.
                </p>
                <p>
                    Learn more about this faster-acting, longer-lasting chewable treatment now.
                </p>
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-3">
                        <a class="btn btn-default login-link" href="#" role="button">
                            LOG IN NOW
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a class="btn btn-default" href="#" role="button">
                            SCHEDULE A MEETING
                            <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-wrapper"></div>
    </div>
    <div id="support">
        <div class="static-section support">
            <div class="container">
                <div class="static-overlay bgblue">
                    <h2>SUPPORT</h2>
                </div>
            </div>
        </div>

        <div class="container static-body">
            <h2 class="blue">IMPROVE COMMUNICATION WITH EXISTING CUSTOMERS AND ENGAGE NEW CUSTOMERS.</h2>
            <p>
                Pet owners want to know that they’re getting the best care for their dogs. When you offer Bravecto, you gain materials for your office, a PR toolkit, informational resources and social media tools to help you educate pet owners about the new treatment, build stronger relationships with your customers – and drive new pet owners to your door.
            </p>
            <p>
                And, with 70% of pet owners reviewing pet-related topics online every week,1 making your presence known online has become a business imperative. Plus, a recent survey found that 14% of pet owners have a Facebook page for their dog – so you could even connect with pet owners through their dog’s own Facebook page!
            </p>
            <p>
                BravoVets – an exclusive, easy-to-use social tool – can help you connect with the 69% of adults that are on social media. By linking your Facebook and Twitter business accounts with BravoVets, you’re empowered by a single platform that enables you to engage your clients, deliver important news, and build trust outside of your office.
            </p>
            <p>
                <a href="" class="login-link">
                    Log in now
                </a> to learn how Bravecto can help you grow your relationships with new and existing customers – or <a href="/contact-us">
                    <span class="orange">contact your MSD sales representative</span>
                </a> to get started.
            </p>
        </div>
    </div>
    <div id="innovation">
        <div class="static-section innovation">
            <div class="container">
                <div class="static-overlay bgpurple">
                    <h2>INNOVATION</h2>
                </div>
            </div>
        </div>

        <div class="container static-body">
            <h2 class="purple">TAKE SAFETY AND EFFICACY FURTHER THAN EVER BEFORE WITH THE BIGGEST INNOVATION IN OVER A DECADE.</h2>
            <p>
                In an ever-growing world, relevancy is the hallmark of a successful business. For veterinarians, that means keeping up with the latest treatments in order to provide the best care to the animals they treat. By prescribing the first and only chewable treatment to effectively protect against fleas and ticks for up to 12 full weeks, you can be confident that you’re delivering the care that will keep pet owners coming back – and recommending your practice to their friends.
            </p>
            <p>
                Bravecto’s excellent safety and efficacy is all thanks to its breakthrough molecule, Fluralaner. Proven safe for all dogs, Bravecto starts killing and protecting in just 2 hours of administration – reaching 100% in 12 hours – and maintains its efficacy for up to 3X longer than any other chewable or monthly topical treatment available.
            </p>
            <p>
                Only you can deliver the innovation of prescription-only Bravecto.
            </p>
            <p>
                <a href="" class="login-link">
                    Log in now
                </a> to learn more about this innovative alternative to monthly treatments – or <a href="/contact-us">
                    <span class="orange">contact your MSD sales representative</span>
                </a> to get started.
            </p>
        </div>
    </div>
    <div id="adherence">
        <div class="static-section adherence">
            <div class="container">
                <div class="static-overlay bgred">
                    <h2>ADHERENCE</h2>
                </div>
            </div>
        </div>
        <div class="container static-body">
            <h2 class="red">PREVENT GAPS IN PROTECTION WITH FEWER TREATMENTS TO FORGET.</h2>
            <p>
                Parasiticide sales and market size data suggests that, on average, dogs only receive protection from fleas and ticks 2.8 months a year3 – meaning most dogs are at risk for infestation and vector-borne diseases nearly 9 months a year. And, with ticks spreading into new territories worldwide, those threats have become even greater.
            </p>
            <p>
                Give pet owners fewer chances to forget with a treatment that provides nearly a year of protection in just four individual 12-week doses. And, as prescription-only, you can set a game plan to knock out gaps in protection by scheduling times for pet owners to pick up Bravecto ahead of time.
            </p>
            <p>
                <a href="" class="login-link">
                    Log in now
                </a> to learn more about preventing gaps in protection for every dog you treat
                – or <a href="/contact-us">
                    <span class="orange">contact your MSD sales representative</span>
                </a> to get started.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <p>
                <sup>*</sup> BRAVECTO is effective against Rhipicephalus sanguineus (brown dog tick) for 8 weeks after dosing. The most common adverse reactions were mild and short-lived vomiting, decreased appetite, diarrhea and drooling. For complete safety information, refer to product label.
            </p>
            <p>
                <sup>1</sup> Orsini P, Drolet D, Liu C. Pet projects: digital connects pet owners to brands. eMarketer. July 2013.
            </p>
            <p>
                <sup>2</sup> Rainie L, Smith A, Duggan M. Coming and going on Facebook. Pew Internet & American Life Project. 2013. A project of the PewResearchCenter, Washington, DC.
            </p>
            <p>
                <sup>3</sup> Beck S, Schein E, Baldermann C, von Samson-Himmelstjerna G, Kohn B. Tick infestation and tick prophylaxis in dogs in the area of Berlin/Brandenburg: results of a questionnaire study. Berliner und Münchener Tierärztliche Wochenschrift 126, Heft 1/2 (2013) Seiten 6–76.
            </p>
        </div>
    </div>
    <footer>
        <div class="container">
            <ul class="bottom-nav">
                <li>
                    <a href="/bravecto/index">Home</a>
                </li>
                <li>
                    <a href="http://www.merck.com/about/how-we-operate/privacy/internet-privacy-policy.html?utm_source=Bravovets">PRIVACY</a>
                </li>
                <li>
                    <a href="http://www.bravovets.com/termsandconditions">TERMS + CONDITIONS</a>
                </li>
                <li>
                    <a href="/sitemap">SITE MAP</a>
                </li>
                <li>
                    <a href="/contact-us">CONTACT US</a>
                </li>
            </ul>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
            $('.dropdown-menu').click(function (e) {
                e.stopPropagation();
            });
            $('body').scrollspy({ target: '#side-nav' });

            $('.login-link').on('click', function (e) {
                e.preventDefault();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                setTimeout(function () {
                    $('.dropdown-toggle').dropdown('toggle');
                }, 1000);
            });

            var imagePATH = "/Content/img/", clockImgArr = [],
                clockImgPNGArr = [],
                clockArr = [],
                clockCount = 0;

            //images and li class names
            clockImgArr[0] = 'clock_anim_04';
            clockImgArr[1] = 'clock_anim_05';
            clockImgArr[2] = 'clock_anim_06';
            clockImgArr[3] = 'clock_anim_07';
            clockImgArr[4] = 'clock_anim_08';
            clockImgArr[5] = 'clock_anim_09';
            clockImgArr[6] = 'clock_anim_10';
            clockImgArr[7] = 'clock_anim_11';
            clockImgArr[8] = 'clock_anim_12';
            clockImgArr[9] = 'clock_anim_blur01';
            clockImgArr[10] = 'clock_anim_blur10';
            clockImgArr[11] = 'clock_anim_blur11';

            //make names into images links
            $.each(clockImgArr, function (key, val) {
                clockImgPNGArr[key] = imagePATH + val + '.png';
            })

            //load the first image
            $('#tweleveweeks_container ul').append('<li class="' + clockImgArr[0] + ' clockface" style="display:block"><img src="' + clockImgPNGArr[0] + '" ></li>');

            //create animation order array
            var n = 0;
            for (var i = 0; i < 17; i++) {
                if (i % 2 == 0) {
                    clockArr[i] = clockImgArr[n];
                    n++;
                } else if (i < 11 && i % 2 != 0) {
                    clockArr[i] = clockImgArr[9];
                } else if (i == 11) {
                    clockArr[i] = clockImgArr[11];
                } else if (i > 11 && i % 2 != 0) {
                    clockArr[i] = clockImgArr[10];
                }
            }

            //preloading functions
            function preloadImages(images, callback) {
                var count = images.length;
                if (count === 0) {
                    callback();
                }
                var loaded = 0;
                $(images).each(function () {
                    $('<img>').attr('src', this).load(function () {
                        loaded++;
                        if (loaded === count) {
                            callback();
                        }
                    });
                });
            };
            preloadImages(clockImgPNGArr, function () {
                aferLoaded()
            });

            function aferLoaded() {
                $.each(clockImgArr, function (key, val) {
                    if (key > 0) {
                        $('#tweleveweeks_container ul').append('<li class="' + val + ' clockface" style="display:none"><img src="' + clockImgPNGArr[key] + '" ></li>');
                    }

                })
                //ANIMATE
                $('#tweleveweeks_container img').ready(function () {
                    setTimeout(function () {
                        var clockAnim = setInterval(function () {
                            $('.clockface').hide();
                            $('.' + clockArr[clockCount]).show();
                            if (clockCount >= clockArr.length - 1) {
                                clearInterval(clockAnim);
                            }
                            clockCount++;
                        }, 50);
                    }, 1000)
                })
            }
        });
    </script>
</body>
</html>
