@model LinkedAccountsViewModel
@using bvResources = ProfSite.Resources.Resource

@{
    ViewBag.Title = "Linked Accounts";
    ViewBag.IncludeSocialScript = true;
    Layout = "~/Views/Shared/_LayoutBravecto.cshtml";
}
<div class="container">
    <div class="row simpleheaderrow">
        <h2>Bravovets</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="social-container facebook">
                <h2>
                    <img src="~/Content/img/fb-icon-lg.png" />
                    FACEBOOK
                </h2>
                <div class="social-content">
                    <ul class="facebook-timeline social-feed list-unstyled">
                        @foreach (var item in Model.Posts)
                        {
                            Html.RenderPartial("Partials/_TimelineItem", item);
                        }
                    </ul>
                </div>
                <a class="btn btn-default" href="/bravecto/facebook" role="button">
                    VIEW FULL NEWSFEED
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="social-container twitter">
                <h2>
                    <img src="~/Content/img/twitter-icon-lg.png" />
                    TWITTER
                </h2>
                <div class="social-content">
                    <ul class="twitter-timeline social-feed list-unstyled">
                        @foreach (var tweet in Model.Tweets)
                        {
                            Html.RenderPartial("Partials/_Tweet", tweet);
                        }
                    </ul>
                </div>
                <a class="btn btn-default" href="/bravecto/twitter" role="button">
                    VIEW FULL NEWSFEED
                    <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="static-section linkedaccounttop">
    <div class="container">
        <div class="static-overlay bggreen">
            <h2>EXTEND YOUR CONNECTION TO PET-OWNERS <br />IN YOUR COMMUNITY WITH FACEBOOK</h2>
        </div>
    </div>
</div>
<div class="container static-body">
    <h2 class="green linkedaccountmainheader">CREATING A PRESENCE ON FACEBOOK REQUIRES SOME UP-FRONT STRATEGY AND SETUP.</h2>
    <div class="text-center">
        <img src="~/Content/img/fb-icon-lg.png" />
    </div>
    <div class="row facebook-details-row">
        <div class="col-md-4">
            <p>
                To create your business page, first log in to your personal
                Facebook account. (Don't worry - this doesn't that fans of your clinic
                will see any of the personal details or content in your profile, it's merely a formality).
                <br />
                Then click the small "down arrow" icon on the far right of the page, near your name,
                and choose "Create a page".
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        <span class="header">Choose your classification</span>
                        Select "Local business of place". This will help your business come up in relevant
                        searches. Next, choose the category your business falls into and enter your business's name.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        <span class="header">Complete 'Basic information'</span>
                        Select a high-resoulution image of your company's logo to set as your profile picture
                        and a larger image for your "cover" photo. Complete the "About" section by adding a short summary
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        <span class="header">Request a customized Facebook address</span>
                        Request an address like Facebook.com/yourcompanyname, making it easy to include within other marketing
                        materials and channels.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row simpleheaderrow">
        <h3>Now you're ready to connect your Facebook page to BravoVets!</h3>
        <p>
            <a class="btn btn-default link-socialaccount" href="#" data-type="facebook" data-islinked="@Model.IsFacebookLinked.ToString().ToLowerInvariant()">
                @if (Model.IsFacebookLinked)
                {
                    <text>@Resource.UnlinkYourFacebook</text>
                }
                else
                {
                    <text>@Resource.LinkYourFacebook</text>
                }
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
        </p>
    </div>
</div>
<div class="static-section linkedaccountbottom">
    <div class="container">
        <div class="static-overlay bggreen">
            <h2>EXTEND YOUR AUTHORITY IN LEADING-EDGE <br /> VETERINARY TREATMENTS ON TWITTER</h2>
        </div>
    </div>
</div>
<div class="container static-body">
    <h2 class="green linkedaccountmainheader">START YOUR JOURNEY TO A BIGGER FOLLOWING WITH A FEW SIMPLE STEPS.</h2>
    <div class="text-center">
        <img src="~/Content/img/twitter-icon-lg.png" />
        <h3>Creating a Twitter account for your business is quick and easy.</h3>
    </div>
    <div class="row twitter-details-row">
        <div class="col-md-4">
            <p>
                First, use the email address of the person who will be managing your Twitter account to set it up, then:
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        Enter the full name of your business, as you'd like it to appear on your profile.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        Enter the username (also known as a handle) you wish to be referred to as.
                        <br />This is the name other Twitter followers will use to interact with you.
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        Create a unique, secure password.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row twitter-details-row last">
        <div class="col-md-4">
            <p>
                Next, it's time to personalize the account for your clinic. To do so, click "Profile" and complete
                the following steps:
            </p>
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li>
                    <span class="label label-green">1</span>
                    <p>
                        Complete your profile by entering your clinic name, location, a link to your website and a short
                        (160 characters or less) summary of your business or philosophy.
                    </p>
                </li>
                <li>
                    <span class="label label-green">2</span>
                    <p>
                        Enter the username (also known as a handle) you wish to be referred to as.
                        This is the name other Twitter followers will use to interact with you.
                    </p>
                </li>
                <li>
                    <span class="label label-green">3</span>
                    <p>
                        If you'd like, you can customize the background to reflect your practice's personality
                        under the "Design" tab.
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row simpleheaderrow">
        <h3>Now you're ready to connect your Twitter to BravoVets!</h3>
        <p>
            <a class="btn btn-default link-socialaccount" href="#" data-type="twitter" data-islinked="@Model.IsTwitterLinked.ToString().ToLowerInvariant()">
                @if (Model.IsTwitterLinked)
                {
                    <text>@Resource.UnlinkYourTwitter</text>
                }
                else
                {
                    <text>@Resource.LinkYourTwitter</text>
                }
                <span class="arrow-wrapper"><i class="icon icon-arrow-right"></i></span>
            </a>
        </p>
    </div>
</div>